<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sharkaboi.mediahub">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MediaHub"
        android:allowBackup="true"
        android:configChanges="uiMode"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:resizeableActivity="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MediaHub"
        tools:ignore="AllowBackup"
        tools:targetApi="n">
        <activity
            android:name=".modules.splash.ui.SplashActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/splashStyle"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".modules.auth.ui.OAuthActivity"
            android:launchMode="singleTop"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.MediaHub"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="callback"
                    android:scheme="mediahub" />
            </intent-filter>
        </activity>
        <activity
            android:name=".modules.MainActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.MediaHub"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity"
            android:theme="@style/Theme.MediaHub.ActionBar" />
        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesActivity"
            android:theme="@style/Theme.MediaHub.ActionBar" />
    </application>
</manifest>